.slick-prev,
.slick-next {
  border-radius: 50%;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  span {
    font-size: 18px;
    color: var(--text-placehoder);
    &:hover {
      color: var(--color-dark-hover);
    }
  }
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}

.slick-prev,
.slick-next {
  color: #000;
  svg {
    font-size: 40px;
  }
  &::before {
    display: none;
  }
  &:hover {
    opacity: 1;
    color: #000;
  }
}
.slick-dots {
  bottom: 20px;
  button {
    &::before {
      font-size: 12px !important;
    }
  }
}
